################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WcfPlayground/.vs/WcfPlayground/v16
/WcfPlayground/.vs/WcfPlayground/config
/WcfPlayground/WcfServiceApplication/bin
/WcfPlayground/WcfServiceApplication/obj/Debug
/WcfPlayground/WcfInternalServiceApplication/bin
/WcfPlayground/WcfInternalServiceApplication/obj/Debug
/WcfPlayground/WcfExternalServiceApplication/bin
/WcfPlayground/WcfExternalServiceApplication/obj/Debug
