################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WcfPlayground/.vs/WcfPlayground/v16
